@font-face{
    font-family: Yanon;
    src:url(YanoneKaffeesatz-Regular.ttf) format("truetype");
}
@font-face{
    font-family: Yanon_bold;
    src:url(YanoneKaffeesatz-Bold.ttf) format("truetype");
}
@font-face{
    font-family: Yanon_light;
    src:url(YanoneKaffeesatz-Light.ttf) format("truetype");
}
@font-face{
    font-family: OpenSans;
    src:url(OpenSans-Regular.ttf) format("truetype");
}
@font-face{
    font-family: OpenSansBold;
    src:url(OpenSans-Bold.ttf) format("truetype");
}
@font-face{
    font-family: OpenSansExBold;
    src:url(OpenSans-ExtraBold.ttf) format("truetype");
}
@font-face{
    font-family: OpenSansItalic;
    src:url(OpenSans-Italic.ttf) format("truetype");
}
@font-face{
    font-family: Roboto;
    src:url(Roboto-Regular.ttf) format("truetype");
}
@font-face{
    font-family: Myanmar_text;
    src:url(mmrtext.ttf) format("truetype");
}
@font-face{
    font-family: Brush_Script;
    src:url(BrushScriptStd.ttf) format("truetype");
}
@font-face{
    font-family: roboto_cndnsd_lt;
    src:url(RobotoCondensed-Light.ttf) format("truetype");
}
@font-face{
    font-family: Dancing;
    src:url(DancingScript-Regular.ttf) format("truetype");
}










































